* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
body {
    background-color: hsl(30,38%,92%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}
.wrapper {
    display: flex;
}

.product-image img {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    height: auto;
}
.product-image {
    flex: 1;
}
.main-content {
    background-color: hsl(0,0%,100%);
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    margin-bottom: 0.25rem;
    padding: 1rem;
    max-width: 250px;
    flex: 1;
}
.perfume {
    margin: 1rem 0;
    font-weight: 400;
}
.gabrielle {
    font-family: Fraunces, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 2rem;
}
.floral {
    margin: 1rem 0;
    font-size: 1.3rem;
    text-align:start;
}
.dollar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Fraunces, Arial, Helvetica, sans-serif;
    position: relative;
}
.first-dollar {
    color: hsl(158,36%,37%);
    font-size: 2rem;
    margin: 1.5rem 0;
    font-weight: 700;
}
.second-dollar {
    position: absolute;
    right: 50px;
}

button {
    background-color: hsl(158,36%,37%);
    border: none;
    cursor: pointer;
    color: hsl(0,0%,100%);
    font-weight: 700;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.50rem;
    border-radius: 7px;
    font-size: 1rem;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}
button:active {
    background-color: hsl(158, 37%, 12%);
}
@media (max-width: 500px) {
    img {
        height: 100%;
        max-width: 100%;
        display: block;
    }
    .wrapper {
        flex-direction: column;
    }
}

